[Unit]
Description=Mattermost
After=network.target
After=postgresql.service
BindsTo=postgresql.service

[Service]
Type=notify
ExecStart={{ mattermost_server_bin }}
TimeoutStartSec=3600
KillMode=mixed
Restart=always
RestartSec=10
WorkingDirectory={{ mattermost_rootdir }}
User={{ mattermost_user }}
Group={{ mattermost_group }}
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
