#!/usr/bin/env python3

import json
import sys

VERSION_FILE = '{{ mattermost_version_file }}'
VERSION_KEY = 'version'

try:
    with open(VERSION_FILE, 'r') as version_file:
        version = version_file.readline()

    version = version.strip()

    assert(version.count('.') == 2)

except:
    version = 'none'

facts = json.dumps({VERSION_KEY: version})

print(facts)

sys.exit(0)
