upstream backend {
   server {{ chat_app_host }}:{{ chat_app_port }};
   keepalive 32;
}

proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=chat_cache:10m max_size=3g inactive=120m use_temp_path=off;

server {
  listen 80;
  listen [::]:80;
  server_name {{ chat_domain }};

  rewrite ^ https://{{ chat_domain }}$request_uri permanent;
}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ chat_domain }};

  ssl_certificate_key /etc/letsencrypt/live/{{ chat_domain }}/privkey.pem;
  ssl_certificate /etc/letsencrypt/live/{{ chat_domain }}/fullchain.pem;
  ssl_protocols TLSv1.2 TLSv1.3;

  ssl_early_data on; # Enable TLSv1.3's 0-RTT
  add_header X-Early-Data $ssl_early_data;

  ssl_stapling on;
  ssl_stapling_verify on;

  http2_push_preload on;  # Enable HTTP/2 Server Push

  location ~ /api/v[0-9]+/(users/)?websocket$ {
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    client_max_body_size 50M;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Frame-Options SAMEORIGIN;
    proxy_buffers 256 16k;
    proxy_buffer_size 16k;
    client_body_timeout 60;
    send_timeout 300;
    lingering_timeout 5;
    proxy_connect_timeout 90;
    proxy_send_timeout 300;
    proxy_read_timeout 90s;
    proxy_http_version 1.1;
    proxy_pass http://backend;
  }

  location / {
    client_max_body_size 50M;
    proxy_set_header Connection "";
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Frame-Options SAMEORIGIN;
    proxy_buffers 256 16k;
    proxy_buffer_size 16k;
    proxy_read_timeout 600s;
    proxy_cache chat_cache;
    proxy_cache_revalidate on;
    proxy_cache_min_uses 2;
    proxy_cache_use_stale timeout;
    proxy_cache_lock on;
    proxy_http_version 1.1;
    proxy_pass http://backend;
  }
}
