server {
  listen 80;
  listen [::]:80;
  server_name {{ chat_domain }};

  rewrite ^ https://{{ chat_domain }}$request_uri permanent;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name {{ chat_domain }};

  ssl_certificate_key /etc/letsencrypt/live/{{ chat_domain }}/privkey.pem;
  ssl_certificate /etc/letsencrypt/live/{{ chat_domain }}/fullchain.pem;
  ssl_protocols TLSv1.2 TLSv1.3;

  root {{ chat_htmldir }};
  index index.html;

  location / {
    return 503;
  }
}
