server {
  listen 80 default_server;
  listen [::]:80 default_server;
  server_name {{ root_domain }} {{ www_domain }};

  rewrite ^ https://{{ www_domain }}$request_uri permanent;
}

server {
  listen 443 ssl default_server;
  listen [::]:443 ssl default_server;
  server_name {{ root_domain }};

  ssl_certificate_key /etc/letsencrypt/live/{{ root_domain }}/privkey.pem;
  ssl_certificate /etc/letsencrypt/live/{{ root_domain }}/fullchain.pem;
  ssl_protocols TLSv1.2 TLSv1.3;

  rewrite ^ https://{{ www_domain }}$request_uri permanent;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name {{ www_domain }};

  ssl_certificate_key /etc/letsencrypt/live/{{ www_domain }}/privkey.pem;
  ssl_certificate /etc/letsencrypt/live/{{ www_domain }}/fullchain.pem;
  ssl_protocols TLSv1.2 TLSv1.3;

  root {{ www_htmldir }};
  index index.html;

  location / {
    try_files $uri $uri/ =404;
  }
}
